numpy~=1.19.2
pillow==7.2.0
matplotlib==3.2.2
plotly==4.4.1
seaborn
pybullet>=3.0.8
wandb
tensorflow>=2.4.0
tensorflow-probability
tensorflow-addons
requests
pathy
comet_ml
natsort
tqdm
umap-learn
scikit-learn
imageio
-e git+https://github.com/sholtodouglas/RoboticsPlayroomPybullet
