numpy
matplotlib
plotly
seaborn
pybullet>=3.0.8
wandb
tensorflow>=2.4.0
tensorflow-probability
tensorflow-addons
requests
pathy
natsort
tqdm
scikit-learn
-e git+https://github.com/sholtodouglas/pandaRL@ef8fea79da58b55576a85cb66104d6669d018a6e#egg=pandaRL