// Use modes
bool USEGLOVE = true;
bool STREAM_2_VIZ = true;
bool STREAM_2_DRIVER = false;
bool HIRES_DATA = false;

// Glove variables
char* glove_port = "COM7";
int baudRate = 115200; 
int rawSenor_n = 22;
bool updateRawRange = false; // Update the range if values outside range is reported

// Hand Model
char* modelFile = "humanoid.xml";
char* logFile = "humanoid_log"; // "none" for no logs
int calibSenor_n = 24;
char* driver_ip = "128.208.4.243";
char* driver_port = "50001";


// Calibration
char* calibFile =     "..\\cyberglove\\calib\\cGlove_Adroit_actuator_default.calib";
char* userRangeFile = "..\\cyberglove\\calib\\cGlove_Adroit_actuator_default.userRange";
char* handRangeFile = "..\\cyberglove\\calib\\cGlove_Adroit_actuator_default.handRange";

// Mujoco
char* viz_ip = "10.60.4.123";
int skip = 1;